:root{
    /* colors */
    --background-color: #000000;
    --cards: #1F1F1F;
    --primary-text: #FFFFFF;
    --secondary-text: #B3B3B3;
    --green: #00C853;
    --blue: #0092FF;
    --red: #FF1744;
    --orange: #FF6D00;
    --purple: #EC00FF;
}
html{
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  box-sizing: border-box;
}